body{
    margin: 4em 6em 6em 4em;
    background:rgb(247, 243, 243) ;
}

.display-1{
    color:blueviolet;
    text-decoration: solid;
    margin-left: 0.1em;

}

.row{
    font-size: 3em;
}
.col-sm-6{
    background-color: blueviolet;
    border-radius: 0.5em;
    color:white;
    margin-left: 0.3em;
    margin-right: 2em;
    text-align: center;
    font-size: large;
}
.mujer{
    align-items: flex-end;
    margin:1em 1em 1em 1em;
    position:sticky;
    
    width:80%;
}
/* .col-sm-4{
    
    border-radius: 0.1em;
    color:white;
    margin-left: 0.3em;
    margin-right: 1.5em;
} */
/* .row1{
    background-color:white;
    color:white;
    border: black solid;
 
} */
.spinner-border{
    color:blueviolet;
}